// Tipografia
$fuente_principal: 'Montserrat', sans-serif;


// Colores
$blue: #0000ff;
$lightBlue: #add8e6;
$grey:#808080;
$lightGrey: #d3d3d3;
$black: #000000;
$white: #FFFFFF;

// Tamaños de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;