@use '../base/variables' as v;
@use '../base/mixins' as m;

.new-account {
    margin-top: 17rem;
    height: 100%;
    overflow: auto;
    position: fixed;
    width: 100%;
    

    h6 {
        margin: 3rem 0 3rem 0;
        text-align: center;
        text-transform: uppercase;
    }
    #register-btn {
        background-color: v.$blue;
        border-radius: .3rem;
        border-style: none;
        color: v.$white;
        font-weight: bold;
        height: 3.2rem;
        grid-column-start: 2;
        margin: 2rem 0 2rem 0;
        text-transform: uppercase;
        width: 15rem;
    }
    input {
        border: none;
        border: 1px solid v.$lightGrey;
        border-radius: .3rem;
        width: 250px;
        @include m.tablet {
            width: 350px;
        }
        
    }

}
