@use '../base/variables' as v;
@use '../base/mixins' as m;

.container-register {
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 15rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
fieldset {
    border: 1px solid v.$lightGrey;
    border-radius: .3rem;
}
form {
    background-color: v.$white;
    margin: 5% auto 15% auto;
    max-width: 500px;
    
}
legend {
    margin-left: 85%;
}
.close-btn {
    background-color: transparent;
    border: 1px solid v.$lightGrey;
    border-radius: .3rem;
    font-weight: bold;
    height: 3rem;
    line-height: 0;
    padding: 0;
    text-transform: uppercase;
    width: 3rem;
}

h5 {
    text-align: center;
}
.container-register-btn {
    display: grid;
    grid-template-columns: 3 1fr;
    
}
#register-btn {
    background-color: v.$blue;
    border-radius: .3rem;
    border-style: none;
    color: v.$white;
    font-weight: bold;
    height: 3.2rem;
    grid-column-start: 2;
    text-transform: uppercase;
    width: 10rem;
}